table{
    width: 100%;
}

.botao-opcao{
    width: 100%;
}

.icone-pesquisa{
    display: inline-block;
    width: 20px;
}

.barra-pesquisa{
    width: calc(100% - 21px) !important;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    padding-left: 5px;
}
