<p-dialog [(visible)]="dialogCriacao" [closable]="false" [modal]="true">
  <p-header>
    <div class="flex-config">
      <span>Cadastrar Cliente</span>
      <button mat-raised-button style="background-color:#d5343a; color:white;"
        (click)="dialogCriacao = false;">Voltar</button>
    </div>
  </p-header>
  <form #criacaoForm="ngForm" (ngSubmit)="cadastrar(criacaoForm.value, criacaoForm);" style="width: 700px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-8">
          <mat-form-field class="input-fluid">
            <input matInput placeholder="Nome" name="nome" ngModel #nome="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-4">
          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select required name="sexo" ngModel #sexo="ngModel">
              <mat-option *ngFor="let sexo of opcoesSexo" [value]="sexo.value">
                {{sexo.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-2">
          <mat-form-field class="input-fluid">
            <input matInput type="number" placeholder="Idade" required name="idade" ngModel #idade="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-5">
          <mat-form-field class="input-fluid">
            <input matInput type="email" placeholder="E-mail" required email name="email" ngModel #email="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-5">
          <mat-form-field class="input-fluid">
            <input matInput type="tel" placeholder="Telefone" required name="telefone" ngModel #telefone="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-4">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select #estado required name="estado" ngModel #estado="ngModel">
              <mat-option *ngFor="let estado of estados" [value]="estado.id"
                (click)="buscarCidades(estado.id); cidade.value = ''">
                {{estado.estado}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-4">
          <mat-form-field>
            <mat-label>Cidades</mat-label>
            <mat-select [disabled]="cidades.length === 0" #cidade required name="cidade" ngModel #cidade="ngModel">
              <mat-option *ngFor="let cidade of cidades" [value]="cidade.cidade">
                {{cidade.cidade}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-4">
          <mat-form-field class="input-fluid">
            <input matInput placeholder="Bairro" required name="bairro" ngModel #bairro="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field class="input-fluid">
            <input matInput placeholder="Rua" required name="rua" ngModel #rua="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-3">
          <mat-form-field class="input-fluid">
            <input type="number" matInput type="tel" placeholder="Número" required name="numero" ngModel
              #numero="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-3">
          <mat-form-field class="input-fluid">
            <input type="number" matInput type="tel" placeholder="Complemento" name="complemento" ngModel
              #complemento="ngModel">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-2 offset-sm-10">
          <button mat-raised-button type="submit" color="primary" [disabled]="!criacaoForm.valid">Cadastrar</button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>


<div class="flex-config">
  <p class="vsm-titulo">Gestão de Clientes</p>
  <button mat-raised-button color="primary" (click)="dialogCriacao = true">Cadastrar Cliente</button>
</div>
<p-table #tabela [value]="conteudoTabela.content" [rows]="conteudoTabela.numberOfElements"
  [globalFilterFields]="['nome','cidade','sexo', 'pontuacao']">
  <ng-template pTemplate="caption">
    <div style="text-align: left; width: 100%;">
      <div class="icone-pesquisa">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      </div>
      <input type="text" class="barra-pesquisa" pInputText placeholder="Pesquisar Informação"
        (input)="tabela.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Localização</th>
      <th>Pontuação</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cli>
    <tr>
      <td>{{cli.nome}}</td>
      <td>{{cli.endereco.cidade}}/{{cli.endereco.estado}}</td>
      <td style="text-align: center;font-weight: 700">{{cli.pontuacao}}</td>
      <td>
        <button mat-raised-button color="primary" pTooltip="Verificar e Atualizar Cliente" tooltipPosition="top" (click)="buscarCliente(cli.codigo)"><i class="fa fa-info"
            aria-hidden="true"></i></button>
        <button mat-raised-button color="primary" style="margin-left: 3px" pTooltip="Registrar Venda" tooltipPosition="top" (click)="registrarVenda(cli.codigo)"><i
            class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<br>
