<div class="corpo flex-config">
  <img src="../../../../../../assets/recursos/imagens/logo.png" alt="Logo" height="35px">
  <div *ngIf="estado === 1">
    <button mat-raised-button color="primary" (click)="irPara('/clientes');">Gestão de Clientes</button>
    <button mat-raised-button color="primary" (click)="irPara('/regras');">Regras de Bonificação</button>
    <button mat-raised-button style="background-color:#d5343a; color:white;" (click)="sair()">Sair</button>
  </div>
  <div *ngIf="estado === 2">
    <button mat-raised-button color="primary" (click)="irPara('/home');">Voltar</button>
  </div>
</div>